.main-city-date {
  margin-bottom: 20px;
  margin-top: 10px;
}

.main-image-temp img {
  margin-right: 10px;
}

.main-image-temp {
  font-size: 45px;
  line-height: 1;
}
h1 {
  color: #ec6e4c;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 0;
  margin-left: 30px;
}

ul {
  margin: 0;
  padding: 0;
}
.celsius-color {
  color: black;
  font-size: 15px;
  position: relative;
  top: -20px;
  left: -5px;
  color: black;
}
li {
  color: rgb(112, 117, 122);
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}
